@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Strike&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Protest Strike", serif;
  font-weight: 400;
  font-style: normal;
}
body{
  overflow-x: hidden;
}
.booked{
  font-family: "Bebas Neue", sans-serif;
  color: orange;
  font-size: 20px;
}
.ma131 img{
  width: 30px;
  height: 30px;
  gap: 30px;
}
.loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading{
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  border-bottom: 2px solid rgb(0,0,0,0.719);
  animation: loadingRotate 800ms linear infinite;
}
@keyframes loadingRotate {
  to{
     transform: rotateZ(-360deg); 
  }
}
.nothingfound{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
/* font-family: "Bebas Neue", sans-serif; */
