.footer{
  width: 100vw;
  height: 10vh;
  background-color: black; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px; 
}
.footer1{
    color: white;  
}
.footer2{
    color: burlywood;  
}
@media only screen and (min-width: 300px) and (max-width: 1300px){
  .footer1{
    font-size: 15px;  
}
.footer2{
  font-size: 15px;  
} 
}